html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

/* styles/globals.css */
body {
  font-family: 'Outfit', sans-serif;
}

