.legalContainer{
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
}

.legalHeading{
    color: var(--red-primary);
}

.legalPassage{
    color: var(--text-gray);
}

/* Responsive Design */
@media screen and (max-width: 600px){
    .legalContainer{
        margin: 10px 50px;
    }
    .legalHeading{
        font-size: 13px;
    }
    .legalPassage{
        font-size: 12px;
    }
}